crewai==0.130.0
crewai-tools==0.48.0
langchain-community==0.3.29
langchain-google-genai==2.1.10
gunicorn==23.0.0
fastapi==0.116.1
uvicorn==0.35.0
eventlet==0.40.3
celery==5.5.3
redis==6.4.0
python-multipart==0.0.20
